/* UNIVERSAL STYLE */

html {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

/* logo */

.header {
    width: 1000%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo-container {  
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo-container img{
    width: 200px;
    transition: all 0.3s ease-in-out;
}

.logo-container img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 780px) {
    .logo-container img {
        width: 100px;
    }
}


/* nav*/

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.nav {
    width: 900px;
    min-width: 380px;
    border-radius: 10px;
    border: 5.5px solid transparent;
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav:hover {
    border: 5.5px solid transparent;
    transition: 0.6s ease;
}

.nav ul {
    padding: 12px 18px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 5.5px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.nav ul:hover {
    padding: 20px 30px;
    width: 700px;
    background-color: hsla(0, 0%, 0%, 0.815);
    border: 5.5px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    color: white;
}
nav ul:hover li a {
    color: #fffffffa;             /* diventa bianco al passaggio sul ul */
}

.nav li {
    margin: 16px 38px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 3px 5px;   /* fisso */
    transition: all 0.1s ease-in-out;
    display: inline-block;
}

a:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527);
    border: 2px solid transparent;
    border-radius: 10px;
    transform: scale(1.05);
}


/* tablet*/

@media only screen and (max-width: 780px) and (min-width: 501px) 
{
    .nav li{
    margin: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
} 
.nav {
    width: 450px;
}

.nav ul {
    padding: 8px 12px;
    width: 450px;

}

.nav ul:hover {
    padding: 8px 12px;
    width: 450px;
    background-color: transparent;
}

nav ul:hover li a {
    color: #000000fa;
    }

a:hover {
    text-shadow: 2px 2px 6px rgba(228, 88, 88, 0.562);
    }

}


/* PHONE*/

@media only screen and (max-width: 500px) {
    .nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .nav ul:hover {
        background-color: transparent;
        padding: 12px 18px;
    }

    .nav {
        width: 300px;
    }
    .nav:hover {
        background-color: transparent;
    }

    nav ul:hover li a {
    color: #000000fa;
    }

    a:hover {
    text-shadow: 2px 2px 6px rgba(228, 88, 88, 0.562);
    }
}


/* Jumbotron*/

.jumbotron {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 700px;
}

.jumbotron-container {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.548)),
        url('./Resources/images/our\ mission.webp') no-repeat center center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white ;
}

.paragraph{
    width: 100%;
    background-color: rgba(14, 14, 14, 0.527);
}


.paragraph h2 ,
.paragraph p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px rgba(19, 19, 19, 0.507);
}

.paragraph h2 {
    font-size: 32px;
}

.paragraph p {
    font-size: 20px;
    margin-left: 15px ;
    margin-right: 15px;
    font-style: italic;
}



/* PRODUCTS*/

#products{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

#products h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: hsla(0, 0%, 0%, 0.815);
    color: rgb(255, 255, 255);
}

.products-container {
    max-width: 2000px;
    min-width: 450px;
    display: grid;
    grid-template: repeat( 2, 500px) / repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
}



.item img{
    width: 90%;
    height: 400px;
    background-color: hsla(0, 0%, 0%, 0.884);
    padding: 20px 25px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
.item img:hover {
    transform: scale(1.05);
    background-color: #383838b9;
    padding: 24px 29px;
    transition: all 0.3s ease-in-out;
}


img.stretch {
    width: 77%;
    margin: 0;
}

.item p {
    display: block;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    margin: 0%;
    text-shadow: 2px 2px 3px #000000;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    padding: 5px 8px;
}
.item p:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

p.stretch{
    margin-top: 20px;
}

/* tablet / PHONE*/

@media only screen and (max-width: 1100px) and (min-width: 300px) {
    

    .products-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: white;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
    .products-container:hover .item img {
    background-color: white;
    }
    .products-container:hover {
        background-color: hsla(0, 0%, 0%, 0.8155);
        transition: all 0.3s ease-in-out;
    }
    .products-container:hover p{
        color: white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
    }

    img.stretch {
        width: 100%;
        margin-top: 30px;
    }

    .item.stretch.mobile {
        margin-bottom: 38px;
    }

    .stretch.mobile2 {
        margin-top: 30px;
    }

    .products-container .item {
        margin-bottom: 20px;
    }
    
    .item img{
    width: 90%;
    height: 400px;
    background-color: hsla(0, 0%, 0%, 0.884);
    padding: 20px 25px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
   }
   .item img:hover {
    transform: scale(1.05);
    background-color: transparent;
    padding: 24px 29px;
    transition: all 0.3s ease-in-out;
   }

   #products h2 {
    color: white;
    background-color:hsla(0, 0%, 0%, 0.815) ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    padding: 15px 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
   }

   .item p{
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 3px #000000;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
   }

}


/* EMPLOYEES*/

#employees {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
#employees h2.h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    padding: 15px 20px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 255) ;
    background-color: hsla(0, 0%, 0%, 0.815);
}

.employees-container{
    max-width: 1800px;
    min-width: 1200px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    background-color: hsla(0, 0%, 0%, 0.815);
}

.img-container {
    width: 90% ;
}

.img-container img {
    width: 90% ;
    height: 500px;
    padding: 15px 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 3px solid black;
}

.text-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: 30px;
    border: 3px solid black;
    padding: 30px 35px;
    border-radius: 10px;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.884);
}

.text-container p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    border-radius: 10px;
}


.text-container h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    border: 1px solid transparent;
    border-radius: 10px;
    text-decoration: underline rgb(0, 0, 0);
    text-underline-offset: 6px;
}


/* TABLET PHONE*/

@media only screen and (max-width: 1300px) and (min-width: 970px) {
    #employees {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 100px 35px 100px 35px;
    }

    .employees-container {
        max-width: 500px;
        display: flex;
        justify-content: flex-start;
        align-content: center ;
        flex-wrap: wrap;
        text-align: center;
    }
    .img-container img {
        width: 600px;
        height: 400px;
    }

    .img-container {
    display: flex;
    justify-content: center;
    align-content: center ;
    width: 100%;
    }

    .text-container {
        width: 100%;
        margin-right: 150px;
        margin-left: 150px;
        padding: 0px 3px;
    }

    .text-container p {

        margin-left: 5px; 
        margin-right: 5px;
    }
}

@media only screen and (max-width: 970px) {

    #employees {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .employees-container {
        width: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .img-container img {
        width: 400px;
        height: 350px;
        padding: 5px 10px;
    }
    
    .img-container {
    display: flex;
    justify-content: center;
    align-content: center ;
    width: 100%;
    }

     .text-container {
        width: 450px;
        margin-left: 20px;
        margin-right: 20px;
    }
}



/* FOOTER*/

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.footer-container img {
    width: 150px;
}

.footer-container p {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline black;
    text-underline-offset: 5px;
    font-family: 'lucida sans';
}

.footer-container a {
    text-decoration: none;
    transform: none;
    border: 1px solid transparent;
}
.footer-container a:hover {
    transform: scale(1.05);
    border: 1px solid transparent;
}